extends layout

block content
  if (!user)
    .container
      .jumbotron
        h4
          i.fa.fa-times-rectangle-o 
            | Please 
            a(href='/login') login 
  if (user)
    .container
      .d-block.p-2.bg-info.text-white.m-3.text-center.dblok-head 
      | Welcome to the control panel
      .card
        img.card-img-top.rounded-top(src="../images/welcome.jpg" style="width:100%;")


